.add-cell-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.2s;
}

.force-show-add-cell-bar {
  opacity: 1 !important;
}

.add-cell-bar-container:hover {
  opacity: 1;
}

@keyframes fadeIn {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.add-cell-bar-container .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 0 10px;
}

.add-cell-hr-line {
  position: absolute;
  top: 50%;
  width: 95%;
  border-top: 1px solid #335172;
  z-index: -1;
}

.add-cell-button {
  border-radius: 10px !important;
  padding: 2px 30px !important;
}
