.code-cell {
  display: flex;
  flex-direction: row;
  height: calc(100% - 10px);
}

.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}

.progress-cover {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
