.code-editor-container .mtk1 {
  color: #d4d4d4 !important;
}
.code-editor-container .mtk2 {
  color: #1e1e1e !important;
}
.code-editor-container .mtk3 {
  color: #000080 !important;
}
.code-editor-container .mtk4 {
  color: #6a9955 !important;
}
.code-editor-container .mtk5 {
  color: #569cd6 !important;
}
.code-editor-container .mtk6 {
  color: #b5cea8 !important;
}
.code-editor-container .mtk7 {
  color: #646695 !important;
}
.code-editor-container .mtk8 {
  color: #c586c0 !important;
}
.code-editor-container .mtk9 {
  color: #9cdcfe !important;
}
.code-editor-container .mtk10 {
  color: #f44747 !important;
}
.code-editor-container .mtk11 {
  color: #ce9178 !important;
}
.code-editor-container .mtk12 {
  color: #6796e6 !important;
}
.code-editor-container .mtk13 {
  color: #808080 !important;
}
.code-editor-container .mtk14 {
  color: #d16969 !important;
}
.code-editor-container .mtk15 {
  color: #dcdcaa !important;
}
.code-editor-container .mtk16 {
  color: #4ec9b0 !important;
}
.code-editor-container .mtk17 {
  color: #c586c0 !important;
}
.code-editor-container .mtk18 {
  color: #4fc1ff !important;
}
.code-editor-container .mtk19 {
  color: #c8c8c8 !important;
}
.code-editor-container .mtk20 {
  color: #cd9731 !important;
}
.code-editor-container .mtk21 {
  color: #b267e6 !important;
}
.code-editor-container .mtki {
  font-style: italic;
}
.code-editor-container .mtkb {
  font-weight: bold;
}
.code-editor-container .mtku {
  text-decoration: underline;
  text-underline-position: under;
}

.code-editor-container .mtk100.Identifier.JsxElement.Bracket {
  color: #0080ff !important;
}

.code-editor-container .mtk1000.Identifier.JsxOpeningElement.Bracket {
  color: #808080 !important;
  font-weight: bold;
}

.code-editor-container .mtk1001.Identifier.JsxClosingElement.Bracket {
  color: #808080 !important;
  font-weight: lighter;
}

.code-editor-container .mtk101.Identifier.JsxOpeningElement.Identifier {
  color: #569cd6 !important;
}

.code-editor-container .mtk102.Identifier.JsxClosingElement.Identifier {
  color: #569cd6 !important;
  font-weight: lighter;
}

.code-editor-container .mtk103.Identifier.JsxAttribute.Identifier {
  color: #9cdcfe !important;
}

.code-editor-container .mtk104.JsxElement.JsxText {
  color: darkgoldenrod !important;
}

.code-editor-container .mtk105.glyph.Identifier.JsxElement {
  background: #61dafb;
  opacity: 0.25;
}

.code-editor-container .mtk12.Identifier.JsxExpression.JsxClosingElement {
  color: #ec5f67 !important;
}

.code-editor-container .mtk12.Identifier.JsxSelfClosingElement {
  color: #ec5f67 !important;
}
.code-editor-container .mtk12.Identifier.VariableStatement.JsxClosingElement {
  color: #ec5f67 !important;
}
.code-editor-container
  .mtk12.VariableStatement.JsxSelfClosingElement.Identifier {
  color: #ec5f67 !important;
}
.code-editor-container .mtk12.Identifier.JsxAttribute.VariableDeclaration {
  color: crimson !important;
}
.code-editor-container .mtk12.JsxExpression.VariableStatement {
  color: #fac863 !important;
}
.code-editor-container .mtk12.VariableStatement.JsxSelfClosingElement {
  color: #ede0e0 !important;
}
.code-editor-container .mtk12.VariableStatement.JsxClosingElement {
  color: #ede0e0 !important;
}
.code-editor-container .JsxText {
  color: #0c141f !important;
}
